# finedge-personal-finance-expense-tracker/.env.example
PORT = 3000
DB_URL = mongodb+srv://db_user:<password>@cluster0.ifspbur.mongodb.net
JWT_SECRET = 7f9c2d8a6e1f0c9a3d5e2c8a6d
PASSWORD_SALTING_ROUNDS = 12;
GNEWS_API_KEY = 5a35f2da61404dd38